<!DOCTYPE html>
<html>
<head>
  <title>Better Noams and Garderns</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class ="header-title">
      <%= link_to "Better Noams and Gardens", root_path %>
    </div>
    <div class="log-options">
      <ul>
        <% if current_user %>
          <li>
            <%= link_to "New Recipe", new_recipe_path %> </li>
          <li> <%= link_to "My Account", current_user %> </li>
          <li> <%= link_to "Log out", log_out_path, method: :get %> </li>

        <% else %>
        <li> <%= button_to "Sign up", sign_up_path, method: :get %> </li>
        <li> <%= button_to "Log in", log_in_path, method: :get %> </li>
        <% end %>
      </ul>
    </div>
    <br>
    <div class="search">
      <%= form_tag(search_path) do %>
        Search:
        <%= text_field_tag "search" %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>
    <br>
    <hr>
  </header>

<% flash.each do |name, msg| %> <!-- flash message provided by rails-->
<%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
<div class = "content">
  <%= yield %>
</div>

</body>
</html>
