<h2> Add Your Recipe! </h2>
<% unless defined? @ingredients %>
  <h3> Ingredients </h3>
  To get started list all the ingredients the recipe will need!
  Use commas to seperate each ingredient.

  <%= bootstrap_form_tag url: new_ingredients_path do %>
    <%= label_tag "ingredients", "Ingredients" %>
    <%= text_area_tag :ingredients %>
    <%= submit_tag "Submit Ingredients" %>
  <% end %>

<% else %>

  <%= bootstrap_form_tag url: :recipes, action: :post do %>
    <%# f.hidden_field :user_id, value: current_user.id %>
    Measurements
    <% @ingredients.each do |ingredient| %>
        <%= text_field_tag "measurement[#{ingredient.id}][]" %>
        <%= text_field_tag "measurement[#{ingredient.id}][]" %>
        <%= label_tag "measurement[]", ingredient.name %>
    <% end %>


    <div>
    <%= label_tag "recipe[name]", "Name" %>
    <%= text_field_tag "recipe[name]" %>
    </div>
    <div>
    <%= label_tag "recipe[description]", "Description" %>
    <%= text_area_tag "recipe[description]" %>
    </div>


    <%= submit_tag %>

  <% end %>

<% end %>
