<h2> <%= @recipe.name %> </h2>
<div class = "owner_options">
  <% if current_user == @recipe.user %>
    <%= link_to "Edit", edit_recipe_path %>
    <%= link_to "Remove", @recipe, method: :delete %> 
  <% end %>
</div>

You will need:
<ul> <% @recipe.measurements.each do |measurement| %>
      <li>
        <%= measurement.amount %> <%= measurement.unit %> <%= measurement.ingredient.name %>
      </li>
    <% end %>
</ul>

Instructions:
<%= @recipe.instructions %>
